@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap');

body {
    background-color:#fbfbfb;

    color: #1A202C;
    font-family: 'Outfit', sans-serif;
    margin: 50px 400px 0px;
}

/* .dark-mode {
    background-color: #0e0e0e;
    color: #fbfbfb;
} */

/* IDs */

#tags{
    background: #e2e2e2;
    border-radius: 4px;
    padding: 2px 4px;
}
#tags:hover{
    color: #8783d1;
}

#keyword{
    color: #8783d1;
}
#keyword:hover{
    border-bottom: 1px solid #8783d1;
}





.error img{
    border-radius: 5%;
    width: 600px;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 87vh;
}

.footer p{
    margin-bottom: 30px;
    margin-top: auto;

    text-align: center;
    color: #6C6C6C;
    font-size: 12px;
}

.footer p span {
    display: inline-block;
    position: relative;
}

.footer p span:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #1A202C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.footer p span:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header {
    max-width: 100%;
    display: flex;
    flex-direction: row;    
    
}

@media (max-width: 800px) {
    body {
      margin: 50px 30px 0px;
    }
    .error img{
        width: 280px;
    }
}

.header .title-about {
    align-content: flex-start;
    width: 30%;
}


.header .title {
    align-content: flex-start;
    width: 30%;
}

.header .title p {
    font-size: 30px;
    font-weight: 550;
    text-decoration: none;
    cursor: pointer;
    
    display: inline-block;
    position: relative;
}

.header .title p:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #1A202C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.header .title p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header .pages{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
}

.header .pages a {
    margin-top: 40px;
    margin-left: 40px;
    text-decoration: none;
    cursor: pointer;
    color: #1A202C;
}

.header .pages p:hover{
    color:#000000;
}


.header .darkmode p{
    margin-top: 30px;
    margin-left: 30px;
}




.me p{
    line-height: 25px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin-top: 25px;
    padding: 0px;
}

.me #hobby{
    line-height: 25px;
    margin-top: 50px;
    padding: 0px;
    font-weight: 300;
}

.social{
    margin-top: 30px;
}
.social a{
    margin-right: 10px;
    
}

.posts{
    margin-top: 50px;

    display: flex;
    flex-direction: column;
}

.post-names{
    margin-top: 50px;

    display: flex;
    flex-direction: column;
}

.post-names .blog-title{
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 30px;
}

.posts .post-title{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
}

.posts .post-date{
    margin-bottom: 15px;
    font-weight: 200;
    font-size: 14px;
}



.posts .post-body{
    font-size: 18px;
    font-weight: 300;
}



.posts .post-body .subtitle{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.posts .post-body ul li span{
    background: #e2e2e2;
    border-radius: 4px;
    padding: 2px 4px;

}

.posts .post-body ul li{
    margin-bottom: 10px;
}

.header .pages a{
    margin-top: 40px;
}

.post-names .postwrap{
    margin-bottom: 20px;

    padding-bottom: 10px;
    border-bottom: 1px solid rgba(185, 185, 188, 0.3);

    display: flex;
    flex-direction: row;

    cursor: pointer;
}

.post-names .posttitle{
    font-weight: 400;
    width: 70%;
}

.post-names .posttitle a{
    text-decoration: none;
    color: #1A202C;
}

.post-names .posttitle:hover{
    font-weight: 600;
}
 
.post-names .meta{
    font-weight: 200;
    width: 30%;
    text-align: right;
}



